.picture {
    width: 100%;
    max-width: 18rem;
    height: auto;
    border-radius: 25%;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    @media only screen and (max-width: 380px, max-height: 470px) {
        width: 5rem;
      }
    
}
